<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Chat</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body th:background="@{/img/pexels.jpg}"
      style="background-position: center; background-repeat: no-repeat; background-size: cover;">
<span class="hidden"  th:if="${session.user!=null}"> Bienvenido/a <span id="user" th:text="${session.user.username}"></span></span>
<span th:if="${session.user!=null}" style="font-family: Helvetica, Arial, sans-serif; font-weight: bold; font-size: 250%;"> Bienvenido/a <span id="nombre" th:text="${session.user.nombres}"></span></span>

    <noscript>
        <h2>Sorry! Your browser doesn't support Javascript</h2>
    </noscript>

    <div id="chat-page">
        <div class="chat-container">
            <div class="chat-header">
                <h2>Republica del Perú - PCM</h2>
                <form id="logoutForm" th:action="@{/logout}" onsubmit="return leave()" method="post">
                    <input type="submit" value="Cerrar Sesion"/>
                </form>
            </div>
<!--            <div class="connecting">Conectando...</div>-->
            <ul id="messageArea">

            </ul>
            <form id="messageForm" name="messageForm" nameForm="messageForm">
                <div class="form-group">
                    <div class="input-group clearfix">
                        <input type="text" id="message" placeholder="Type a message..."
                               autocomplete="off" class="form-control" />
                        <button type="submit" class="primary">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>>


<script
        src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/chat.js"></script>
</body>
</html>