<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Registro</title>

  <!--JQUERY-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <!-- Los iconos tipo Solid de Fontawesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">

</head>
<body>

<div class="modal-dialog text-center">
  <div class="col-sm-8 main-section">
    <div class="modal-content">
      <div class="col-12 user-img">
        <img src="static/img/user.png" th:src="@{/img/escudo.jpg}"/>
      </div>
      <form class="col-12" th:action="@{/registro}"th:object="${user}"method="post">
        <div class="form-group">
          <input type="text" class="form-control" th:field="*{username}"placeholder="DNI"/>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" th:field="*{nombres}"placeholder="Nombres"/>
        </div>
        <div class="form-group" >
          <input type="text" class="form-control" th:field="*{apellidos}"placeholder="Apellidos"/>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" th:field="*{email}"placeholder="Email"/>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" th:field="*{password}"placeholder="Contrasena"/>
        </div>

        <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Continuar </button>
      </form>

      <div class="form-group">
						<span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span>
      </div>

      <div th:if="${param.error}" class="alert alert-danger" role="alert">
        Ha ingresado campos inválidos.
      </div>

      <div th:if="${param.success}">
        <div class="alert alert-info">¡Se ha registrado exitosamente!</div>
      </div>

    </div>
  </div>
</div>

</body>
</html>